node-red-geospatial.json
[{"id":"c301706f.254f2","type":"ibmiot in","z":"85450226.684a8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":80,"wires":[["1a1d3ee1.10d5c1"]]},{"id":"58354c58.b59ef4","type":"debug","z":"85450226.684a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":80,"wires":[]},{"id":"34483370.a4843c","type":"http request","z":"85450226.684a8","name":"","method":"GET","ret":"txt","url":"https://c87f2ac7-6d79-4cb6-840e-102735688c20-bluemix.cloudantnosqldb.appdomain.cloud/car-park/_design/geodd/_geo/geoidx?g=POINT({{{lat}}}%20{{{lon}}})","tls":"","x":250,"y":80,"wires":[["7334c517.1b969c"]]},{"id":"1a1d3ee1.10d5c1","type":"function","z":"85450226.684a8","name":"","func":"msg.lat = msg.payload.d.lat;\nmsg.lon = msg.payload.d.lon;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":180,"wires":[["34483370.a4843c"]]},{"id":"7334c517.1b969c","type":"json","z":"85450226.684a8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":180,"wires":[["58354c58.b59ef4"]]}]
